<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Default Configuration Values
 *
 * @category  Amadeco
 * @package   Amadeco_ReviewWidget
 * @author    Ilan Parmentier <contact@amadeco.fr>
 * @copyright Copyright (c) 2025 Amadeco
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <review_widget>
                <enable_schema_org>1</enable_schema_org>
                <default_min_rating>3.5</default_min_rating>
                <default_min_char_length>0</default_min_char_length>
                <default_page_size>10</default_page_size>
                <cache_lifetime>86400</cache_lifetime>
                <enable_lazy_loading>0</enable_lazy_loading>
            </review_widget>
        </catalog>
    </default>
</config>